<!DOCTYPE html>
<html lang="en">
<STYLE>A {text-decoration: none;} </STYLE>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Lightning Distance Calculator</title>
  <link rel="stylesheet" href="C:\Users\flami\OneDrive\Desktop\Projects\LDC\styles\style.css"/>
</head>
<body>
  <a style="color:rgb(158, 158, 158)" id="info-link" href="info.html">Instructions</a>
  <h1 id="title">Lightning Distance Calculator</h1>
  <h1 id="timer">00 : 00 . 000</h1>
  <div>
    <button id="toggle">Start</button>
  </div>
  <h2 id="kilometer">0 km</h2>
  <h2 id="mile">0 miles</h2>
  <script src="C:\Users\flami\OneDrive\Desktop\Projects\LDC\scripts\stopwatch.js"></script>
  <script src="C:\Users\flami\OneDrive\Desktop\Projects\LDC\scripts\script.js"></script>
</body>
</html>
