<!DOCTYPE html>
<html lang="en">
<STYLE>A {text-decoration: none;} </STYLE>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Info</title>
    <link rel="stylesheet" href="C:\Users\flami\OneDrive\Desktop\Projects\LDC\styles\infoStyle.css"/>
  </head>
<body>
  <h1 id='info-title'>Instructions</h1>
  <a style="color:rgb(158, 158, 158)" id="back" href="index.html">Back</a>
  <div id='instructions'>
    <p>Its Simple and free to use.</p>
    <p>When you see the flash of lightning click the start</p>
    <p>Button, and the timer will start. Wait till you here</p>
    <p>The thunder and then hit the stop button as soon as</p>
    <p>You here it. Then look at The distance output.</p>
  </div>
</body>
</html>
